<section>
    <a id="about" class="p-2"></a>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">
                        About me...
                    </h2>
                    <p>My name is Martha Locks and I'm from Florianópolis, Santa Catarina, Brazil.</p>
                    <p>I live here with my son Rafael and my husband Juliano.</p>
                    <p>My journey in Web Development started with my technology degree in Systems Analysis and Development.</p>
                    <p>Since July of 2017 I'm doing a bunch of web projects using the Angular framework.</p>
                </div>
            </div>
        </div>
    </div>
</section>