<section>
    <a id="about" class="p-2"></a>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="assets/img/martha-perfil.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">
                        About me...
                    </h2>
                    <p>My name is <b>Martha Locks</b> and I'm from <b>Florianópolis, Santa Catarina, Brazil.</b></p>
                    <p>I live here since I was born. I'm married (my husband <a href="https://mlocks.com.br" target="_blank">Juliano Maciel</a> is a Programmer, too) and we have a son called Rafael Locks 😍.</p>
                    <p>I started my career in Web Development doing a technology degree in Systems Analysis and Development (in progress). 
                        Before that, I was a teacher of children in early childhood education. My first degree was in Pedagogy 🎓 in 2006. </p>
                    <p>Since July of 2017, I'm developing <b>Web Projects</b> using Frontend and Backend Frameworks.</p>
                    <p>I love to create <b>Web Applications</b> using Node.js, PHP and now I'm learning Python.</p>
                </div>
            </div>
        </div>
    </div>
</section>